[Desktop Entry]
Name=Piper
Comment=Configurable mouse configuration utility
Exec=piper
Icon=org.freedesktop.Piper
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Utility;
Keywords=gaming;configuration;mouse;mice;
